#root
{
    --web-purple: #caace7;
    --web-dark-purple: #B684E5;
    --web-darker-purple: #B47FE5;
    --web-dark-purple-text: #34065E;
    --web-indigo: #9da3da;
    --web-blue: #68bce1;
    --web-aqua: #d6f2f0;
    --web-pink: #e19a90;
    --web-peach: #eab184;
    --web-cream: #f6dcb5;
}