.navbar-container
{
    height: 32px;
    background-color: var(--web-dark-purple);
    border: solid var(--web-darker-purple);
    border-width: 1px auto;
}

.navbar-content
{   
    height: 100%;
    width: 70%;
}
.navbar-tab-container
{
    display: flex;
}
.navbar-tab-text
{
    font-family: 'Quicksand', sans-serif;
    color: var(--web-dark-purple-text);
}

.separator
{
    height: 60%;
    width: 1px;
    background-color: var(--web-dark-purple-text);
    margin: 0px 150px;
    border-radius: 40%;

}